:root {
    --main-color: #ef983b;
    --main-border: 1px solid rgba(0, 0, 0, 0.294);
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* ============================================================= */
/* UTILITY                                                        */
/* ============================================================= */
.outline-main-color {
    border: 1px solid var(--main-color);
}
/* ============================================================= */
/* UTILITY                                                        */
/* ============================================================= */

/* ============================================================= */
/* NAVBAR                                                        */
/* ============================================================= */
nav {
    display: flex;
    width: 100%;
    padding: 15px 10px;
    align-items: center;
    border-bottom: var(--main-border);
    background: white;
    align-items: center;
}
/* ============================================================= */
/* NAVBAR                                                        */
/* ============================================================= */

/* ============================================================= */
/* MAIN                                                          */
/* ============================================================= */
main {
    padding-top: 4rem;
}
/* ============================================================= */
/* MAIN                                                          */
/* ============================================================= */

/* ============================================================= */
/* CHAT                                                          */
/* ============================================================= */
.chat-content ul {
    list-style: none;
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-content ul li a {
    width: 100%;
    background: white;
    display: flex;
    padding: 1rem 0.7rem;
    background: white;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}

.chat-content ul li a i {
    font-size: 2.2rem;
    margin-right: 0.5rem;
    color: var(--main-color);
}

.chat-content ul li a .vicall-icon {
    font-size: 1.5rem;
}

.chat-content ul li .chat-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.chat-content ul li .chat-info .friend-info {
    display: flex;
    flex-direction: column;
}

.chat-footer {
    width: 100%;
    height: 13vh;
    border-top: var(--main-border);
    background: white;
}

.chat-footer .send-chat-btn {
    width: 40px;
    height: 40px;
    background: var(--main-color);
    border: none;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-footer .send-chat-btn i {
    font-size: 1.3rem;
}

.chat-footer textarea {
    height: 50px;
}

.show-chat-content ul {
    list-style: none;
    width: 100%;
    height: 77vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    display: flex;
    flex-direction: column-reverse;
}

.show-chat-content ul li {
    width: 100%;
    background: white;
    display: flex;
    padding: 1rem 0.7rem;
    position: relative;
}

.show-chat-content ul li.my-message {
    justify-content: flex-end;
}

.show-chat-content ul li .chat-box {
    min-width: 100px;
    max-width: 80%;
    padding: 0.8rem;
}

.show-chat-content ul li.my-message .chat-box {
    background: var(--main-color);
    color: rgb(252, 251, 251);
}

.show-chat-content ul li.my-message .fa-solid.fa-sort-down {
    color: var(--main-color);
    position: absolute;
    right: 18px;
    bottom: 3px;
    font-size: 3rem;
}

.show-chat-content ul li.message .chat-box {
    background: rgb(207, 207, 207);
}

.show-chat-content ul li.message .fa-solid.fa-sort-down {
    color: rgb(207, 207, 207);
    position: absolute;
    left: 18px;
    bottom: 3px;
    font-size: 3rem;
}

.chat-content .new-chat-btn {
    position: fixed;
    right: 10vw;
    bottom: 13vh;
    background: var(--main-color);
    display: flex;
    width: 50px;
    height: 50px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: rgb(252, 251, 251);
    border-radius: 4px;
}

.chat-content .new-chat-btn i {
    font-size: 1.5rem;
}

.chat-content .friend-list {
    height: 89vh;
}
/* ============================================================= */
/* CHAT                                                          */
/* ============================================================= */

/* ============================================================= */
/* FOOTER                                                        */
/* ============================================================= */
footer {
    width: 100%;
    border-top: var(--main-border);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 0;
    background: white;
}

footer .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(46, 46, 46);
}

footer .category i {
    font-size: 1.3rem;
}

footer .category.active {
    color: var(--main-color);
}
/* ============================================================= */
/* FOOTER                                                        */
/* ============================================================= */

/* ============================================================= */
/* VIDEO CALL                                                    */
/* ============================================================= */
.videocall-content ul {
    list-style: none;
    width: 100%;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.videocall-content ul li a {
    width: 100%;
    background: white;
    display: flex;
    padding: 1rem 0.7rem;
    background: white;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}

.videocall-content ul li a i {
    font-size: 2.2rem;
    margin-right: 0.5rem;
    color: var(--main-color);
}

.videocall-content ul li a .vicall-icon {
    font-size: 1.5rem;
}

.videocall-content ul li .vicall-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.videocall-content ul li .vicall-info .friend-info {
    display: flex;
    flex-direction: column;
}

.videocall-container {
    width: 100vw;
    height: 100vh;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1031;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 0;
}

.videocall-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: faded 1.5s ease-in forwards;
    transform: rotateY(180deg);
}

.videocall-container .friend-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: unset;
}

.videocall-container .friend-info i {
    font-size: 8rem;
    margin-bottom: .5rem;
}

.videocall-container .friend-info h6 {
    font-size: 1.5rem;
    color: rgb(244, 244, 244);
}

.videocall-container .vicall-navigator {
    display: flex;
    max-width: 258px;
    width: 100%;
}

.videocall-container .vicall-navigator.vicall-navigator--center {
    justify-content: center;
}

.videocall-container .vicall-navigator.vicall-navigator--between {
    justify-content: space-between;
}

.videocall-container .vicall-navigator .btn {
    width: fit-content;
    height: fit-content;
    padding: 20px;
}

.videocall-container .vicall-navigator .btn.cancel-vicall-btn {
    width: 65px;
    height: 65px;
    padding: 20px;
}

.videocall-container .vicall-navigator .btn i {
    font-size: 1.5rem;
}

.videocall-container .vicall-navigator .btn.cancel-vicall-btn i {
    font-size: 1.6rem;
}

.videocall-container .vicall-navigator .redirect-text {
    font-size: 1rem;
    color: white;
    margin: 0 auto;
    animation: animatedText 5s linear infinite;
    opacity: .5;
}

.vicall-room {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black url('../img/bg.jpg') no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
}

.vicall-room .local-user {
    position: absolute;
    width: 145px;
    height: 236px;
    bottom: 85px;
    right: 20px;
    z-index: 1;
}

.vicall-room .remote-user {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.vicall-room .remote-user .user-info {
    text-align: center;
    padding: 3.5rem 0;
}

.vicall-room .remote-user .user-info i {
    font-size: 8rem;
    margin-bottom: .5rem;
}

.vicall-room .local-user video, 
.vicall-room .remote-user video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.vicall-room .local-user video {
    border-radius: 3px;
}

.vicall-room .vicall-navigator {
    display: flex;
    width: 100%;
    background: rgb(34, 34, 34);
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.vicall-room .vicall-navigator .btn {
    width: fit-content;
    height: fit-content;
    padding: 12px;
}

.vicall-room .vicall-navigator .btn i {
    font-size: 1.3rem;
}

.vicall-room .vicall-navigator .btn.audio-btn {
    width: 30px;
    height: fit-content;
    padding: 12px;
}

.vicall-room .local-user .off-cam, 
.vicall-room .remote-user .off-cam {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vicall-room .local-user .off-cam i {
    font-size: 1.5rem;
}

.vicall-room .remote-user .off-cam i {
    font-size: 2.5rem;
}

@keyframes faded {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes animatedText {
    50% {
        opacity: .5;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: .5;
    }
}
/* ============================================================= */
/* VIDEO CALL                                                    */
/* ============================================================= */